<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="favicon.ico" />

        <link rel="stylesheet" href="css/styles.css">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://unpkg.com/vue@3"></script>
        <script src="js/main.js" defer></script>

        <title>Document</title>
    </head>
    <body>
        <div class="wrapper" id="app">
            <h1 class="text-center m-5">{{ message }}</h1>
            
            <div class="form bg-light shadow rounded-2 d-flex flex-wrap">
                <p class="text-center w-100 mt-4 mb-0 fs-1">Your notes</p>
                <div class="note_input w-75">
                    <input type="text" class="form-control"
                        :class="inputClasses"
                        :value="inputValue"
                        :placeholder="placeholderName"
                        @input='inputValueHandler' 
                        @keypress="keyPressHandler"
                    />
                </div>

                <ul class="list-group" v-if="notes.length !== 0">
                    <li class="list-group-item d-flex" v-for="(note, index) in notes">
                        <a>{{ index + 1 }}. {{ note }}</a>
                        <a @click="removeNote(index)">remove</a>
                    </li>
                </ul>

                <div class="empty-notes-list" v-if="notes.length === 0">
                    <p>List of notes is empty.</p>
                </div>
                <div class="empty-notes-list" v-if="notes.length > 1">
                    <p :style="{
                        color: notes.length !== 2 ? 'red' : 'green'
                        }">
                        You have {{ notes.length }} notes.
                    </p>
                </div>
                <div class="empty-notes-list" v-if="notes.length === 1">
                    <p>You have one note.</p>
                </div>
                
                <div class="left_side w-50">
                    <button class="btn btn-outline-success w-50" @click="addNote($event)">Add</button>
                </div>
                <div class="right_side w-50">
                    <!-- If note list have at least one element -->
                    <button class="btn btn-outline-danger w-50" 
                        @click="removeAll" 
                        :class="removeBtnClasses"
                        v-if="notes.length !== 0">
                    Remove all</button>
                    <!-- If note list is empty -->
                    <button 
                        class="btn btn-outline-danger disabled w-50" 
                        v-if="notes.length === 0">
                        Remove all
                    </button>
                </div>
            </div>
        </div>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>